.calculator, .calculator > .frame {
    height: 100vh;
}

.screen {
    overflow-y: auto;
}

.screen .formula {
    font-size: 1em;
}

.result-set {
    cursor: pointer;
    border-bottom: 1px solid;
}

.result-set:hover {
    background-color: rgba(128, 128, 128, 0.51);
}

textarea, .input input {
    resize: vertical;
    height: 75px;
    border: none;
}

button {
    border-radius: 0;
}