<mat-sidenav-container>
  <mat-sidenav [opened]="true">
    <div class="p2">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aut blanditiis consequuntur culpa cupiditate dolore eligendi, eos, eum incidunt ipsam maiores maxime quae quasi quidem, quo ratione ut voluptatibus voluptatum?
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="md-col-6 mx-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, at atque cumque debitis dolorem doloremque doloribus eligendi iusto laudantium minima, nam natus numquam, quas quia sint? Adipisci deleniti dolores reprehenderit.
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>