<mat-sidenav-container>
  <mat-sidenav [opened]="true">
    <div class="p2">

      <app-submenu>
        <app-submenu-items>
          <a mat-button routerLink="/orbit"><div>Orbit</div></a>
        </app-submenu-items>
        <app-submenu-items>
          <a mat-button routerLink="/orbit/triangle-orbit">Triangle Orbit</a>
        </app-submenu-items>
      </app-submenu>

    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="md-col-6 mx-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>